*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-hero {
    padding-top: 10rem;
    min-height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.hero-txts{
    line-height: 1.6;
    padding-top: 3rem;
    height: 100%;
    text-align: start;
}
.main-txt {
    font-size: 4rem;
}
.sec-txt{
    font-size: 2rem;
}