* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.some-container {
  padding: 2rem;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: fit-content;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.blob {
  display: block;
  position: relative;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  background: linear-gradient(
    to right,
    #23d5ab,
    #23a6d5,
    #e73c7e,
    #ee7752,
    #ddd6f3
  );
  background-size: 500% 100%;
  animation: blobber 30s 0s linear infinite,
    cobler 30s 0s linear infinite alternate;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background-color: #000;
    background-image: url(https://images.unsplash.com/photo-1495429789562-21d697f29b02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
    animation: blobber 30s 0s ease-in-out infinite,
      wobbler 15s 0s linear infinite alternate;
  }
}

@keyframes blobber {
  0% {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  }
  5% {
    border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%;
  }
  10% {
    border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%;
  }
  15% {
    border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%;
  }
  20% {
    border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%;
  }
  25% {
    border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%;
  }
  30% {
    border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%;
  }
  35% {
    border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%;
  }
  40% {
    border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%;
  }
  45% {
    border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%;
  }
  50% {
    border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%;
  }
  55% {
    border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%;
  }
  60% {
    border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%;
  }
  65% {
    border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%;
  }
  70% {
    border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%;
  }
  75% {
    border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%;
  }
  80% {
    border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%;
  }
  85% {
    border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%;
  }
  90% {
    border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%;
  }
  95% {
    border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%;
  }
  100% {
    border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%;
  }
}

@keyframes cobler {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes wobbler {
  0% {
    transform: rotateZ(8deg);
  }
  100% {
    transform: rotateZ(-8deg);
  }
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #2ea44f;
  transform: translateY(-30px);
}

.form-control span:nth-child(1) { transition-delay: 0ms; }
.form-control span:nth-child(2) { transition-delay: 50ms; }
.form-control span:nth-child(3) { transition-delay: 100ms; }
.form-control span:nth-child(4) { transition-delay: 150ms; }
.form-control span:nth-child(5) { transition-delay: 200ms; }
.form-control span:nth-child(6) { transition-delay: 250ms; }
.form-control span:nth-child(7) { transition-delay: 300ms; }
.form-control span:nth-child(8) { transition-delay: 350ms; }




.contact h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.contact form {
  padding: 2rem;
  font-size: 2rem;
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  background-color: #00000062;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

#message {
  height: 6rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0.5rem;
}
#submit-btn {
    width: 100%;
  padding: 0.75rem;
  background: #0056b3;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
