* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main-hero {
  padding-top: 15rem;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.live-btn {
  font-family: "Inter", monospace;
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #82d48b30;
  border-radius: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#live-txt {
  box-shadow: 0 0 10px rgba(0, 255, 0, 1);
  padding: 0.25rem 0.75rem;
  border-radius: 5rem;
  background-color: #38e54c45;
  color: #c8ffbd;
  
}

.heading #main-txt {
  margin-top: 2rem;
  font-family: "Inter", monospace;
  font-size: 3.5rem;
  font-weight: bold;
}

.heading #sub-txt {
  margin-top: 1rem;
  font-family: "Fira Code", monospace;
  font-size: 1.25rem;
  color: #ffffff75;
}

.hero-img {
  margin-top: 8rem;
}
.hero-img img{
  transform: scale(1.25);
}
/* New Section */

.what {
  padding-top: 15rem;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  font-family: "Inter", monospace;
  font-size: 2rem;
}

#what-bold {
  font-weight: bold;
}
#what-sub {
  color: #ffffff70;
}


.what-cards {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  width: 100%;
}

.kard {
  border: 2px solid #ffffff25;
  font-size: 1rem;
  width: 25rem;
  background: transparent;
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.kard-image {
  width: 100%;
  height: 22rem;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: black;
  transition: 0.2s;
}
.kard-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.kard-image:hover {
  transform: scale(1.015);
}
.kategory {
  font-size: 1.25em;
  font-weight: 600;
  font-family: "Inter",monospace;
  color: #ffffff;
}

.kategory:hover {
  cursor: pointer;
}

.explanation {
  font-size: 1rem;
  font-weight: 600;
  color: #888888;
}

.what-btn {
  margin-top: 1.25rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 3rem;
}
.what-btn button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Inter",monospace;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 0.60rem;

  display: flex;
  justify-content: center;
  align-self: center;
  gap: .5rem;
  cursor: pointer;
}
.what-btn2 {
  margin-top: 3.5rem;
  height: 100%;

  display: flex;
  justify-content: center;
  align-self: center;
  gap: 3rem;
}
.what-btn2 button {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Inter",monospace;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 0.60rem;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 1rem;
  cursor: pointer;
}