* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#main-hero {
  padding-top: 17.25rem;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}

.live-btn {
  font-family: "Inter", monospace;
  font-size: 0.45rem;
  font-weight: 300;
  padding: 0.35rem 0.75rem;
  border: 1px solid #82d48b30;
  border-radius: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#live-txt {
  box-shadow: 0 0 10px rgba(0, 255, 0, 1);
  padding: 0.25rem 0.75rem;
  border-radius: 5rem;
  background-color: #38e54c45;
  color: #c8ffbd;
  
}

.heading #main-txt {
  margin-top: 1rem;
  font-family: "Inter", monospace;
  font-size: 3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, .91);
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.heading #sub-txt {
  margin-top: .75rem;
  font-family: "Fira Code", monospace;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, .76);
  opacity: 0;
  animation: fadeIn 2s ease-in .5s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.hero-img {
  margin-top: 6.3rem;
}
.hero-img img{
  transform: scale(1.21);
}
/* New Section */

.what {
  padding-top: 16rem;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;
  text-align: center;
  font-family: "Inter", monospace;
  font-size: 1.9rem;
}

#what-bold {
  color: rgba(255, 255, 255, .9);
  font-weight: bold;
}
#what-sub {
  color: rgba(255, 255, 255, .7);
}


.what-cards {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  flex-wrap: wrap;
  width: 100%;
}

.kard {
  border: 2px solid #ffffff25;
  font-size: 1rem;
  width: 24rem;
  background: transparent;
  padding: 1.75rem 1.75rem;
  border-radius: 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.kard-image {
  width: 100%;
  height: 18rem;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: black;
  transition: 0.2s;
}
.kard-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.kard-image:hover {
  transform: scale(1.015);
}
.kategory {
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Inter",monospace;
  color: #ffffff;
}

.kategory:hover {
  cursor: pointer;
}

.explanation {
  font-size: .9rem;
  line-height: 1.4;
  font-weight: 400;
  color: #888888;
}

.what-btn {
  margin-top: 1.25rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 3rem;
}
.what-btn button {
  padding: 0.65rem .75rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Inter",monospace;
  background-color: rgba(255, 255, 255, .91);
  color: #000000;
  border: none;
  border-radius: 0.60rem;

  display: flex;
  justify-content: center;
  align-self: center;
  gap: .5rem;
  cursor: pointer;
}
.what-btn2 {
  margin-top: 3.5rem;
  height: 100%;

  display: flex;
  justify-content: center;
  align-self: center;
  gap: 3rem;
}
.what-btn2 button {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Inter",monospace;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 1rem;
  cursor: pointer;
}
.event{
  margin-bottom: 10rem;
}