* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;
  color: #ffffff70;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link.lg-hover:hover {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-link.active {
  color: #ffffff;
}

#nav-bar {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(2.5px);
  background-color: #00000080;
  position: fixed;
  z-index: 10;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.5rem;
  color: #ffffff;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 40%; */
  gap: 2.5rem;
}
.nav-items .item {
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0.507);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


#account {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff70;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.close-btn {
  padding: 0.5rem .75rem;
  border-radius: 0.6rem;
  background-color:  hsla(0, 100%, 50%, 0.6);
  border: none;

  font-size: 24px;
  cursor: pointer;
}

/* .close-btn:hover {
  background-color: ;
} */