@import "tailwindcss";
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  color-scheme: light dark;
  color: #ffffff;
  background-color: #000000;
  font-family: "Fira Code", monospace;
}
